:root {
    --btn-scn: #4CB050;
    --btn-hscn: #29712b;
    --btn-pry: #2196F3;
    --btn-hpry: #075ca1;
    --bg-box-aside: #F8F9FB;
    --text-color: #53505A;
    --btn-close: #F2473D;
    --edit-color: #F4B63E;
    --bg-plan: #F3F7FA;
    --background-img: url("./assets/img/image.png")
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btn-add {
    background-color: var(--btn-scn);
    position: absolute;
    bottom: 40px;
    color: white;
    font-size: medium;
    font-weight: 400;
    border: var(--btn-scn) solid 2px;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    width: 65%;
}
#btn-add:hover{
    background-color: var(--btn-hscn);
}




.plan {
    display: grid;
    gap: 12px;
    grid-template-columns: 360px 1fr;

}

.floor-wrap {
    background-color: var(--bg-plan);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}
.sidebar {
    margin: 40px 8px 0px 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    padding: 15px;
}

.side-head h2 {
    font-size: xx-large;
    font-weight: bold;
}

.employee {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-box-aside);
    padding: 5px;
    border: #808387 solid 1px;
    border-radius: 8px;
}

.employee img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.edit {
    color: var(--edit-color);
    font-size: medium;
    font-weight: 500;

}

#floorplan {
    display: grid;
    width: 100%;
    margin: 0px 60px 0px 60px;
    aspect-ratio: 16/9;
    background-image: var(--background-img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-template-columns: 1.35fr 0.6fr 0.8fr 0.8fr;
    grid-template-rows: 1.1fr 1fr 1.1fr;
    gap: 5px;
    grid-template-areas:
        "conference emptyy server security"
        "reception emptyy emptyx emptyx"
        "reception emptyy staffroom archive";
}

